*{
	/*General*/
	list-style: none;
	margin: 0px;
	outline: 0;
	padding: 0px; 
	text-align: center;
	text-decoration: none;
}

body{
	background-color: #FFF;
	font-family: helvetica, arial , sans-serif;
	font-size: 16px;
}

#tools{
	background-color: #DDD;
	/*border: 1px solid #999;*/
	display: inline-block;
	float: left;
	height: 500px;
	vertical-align: top;
	width: 120px;
}

#tools ul{
	height: 100%;
}

#tools li input{
	display: block;
	width: 85%;
	border: 2px solid #666;
	margin: 8px auto;
	border-radius: 8px;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
    box-shadow: 0px 3px 3px rgba(50, 50, 50, 0.75);
    padding-bottom: 60px; 
 	/*background-color: transparent;*/
 	height: 80px;
}

.add{
	background-image: url("img/crear.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.add:hover{
	background-image: url("img/crearactive.png");
	background-color: #AAA;
	color: #FFF;
}

.addactive{
	background-image: url("img/crearactive.png");
	background-color: #666;
	color: #FFF;
	background-repeat: no-repeat;
	background-position: center center;
}

.remove{
	background-image: url("img/eliminar.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.remove:hover{
	background-image: url("img/eliminaractive.png");
	background-color: #AAA;
	color: #FFF;
}

.removeactive{
	background-image: url("img/eliminaractive.png");
	background-color: #666;
	color: #FFF;
}

.move{
	background-image: url("img/move.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.move:hover{
	background-image: url("img/moveactive.png");
	background-color: #AAA;
	color: #FFF;
}

.moveactive{
	background-image: url("img/moveactive.png");
	background-color: #666;
	color: #FFF;
}

.join{
	background-image: url("img/line.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.join:hover{
	background-image: url("img/lineactive.png");
	background-color: #AAA;
	color: #FFF;
}

.joinactive{
	background-image: url("img/lineactive.png");
	background-color: #666;
	color: #FFF
}

.select{
	background-image: url("img/cursor.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.select:hover{
	background-image: url("img/cursoractive.png");
	background-color: #AAA;
	color: #FFF;
}

.selectactive{
	background-image: url("img/cursoractive.png");
	background-color: #666;
	color: #FFF;
	cursor: url("img/cursoractive.png");
}

#canvas{
	background-color: rgba(255,255,255, .8);
    border: 3px solid rgba(255,0,0,.75);
    display: inline-block;
    float: left;
}

.addpointer{
	cursor: url("img/pointercrear.png"), pointer;
}

.removepointer{
	cursor: url("img/pointereliminar.png"), pointer;
}

.movepointer{
	cursor: move;
}

.joinpointer{
	cursor: crosshair;
}

.selectpointer{
	cursor: default;
}

#solution{
	background-color: #DDD;
	border: 1px solid #999;
	display: inline-block;
	float: left;
	height: 500px;
	position: relative;
	width: 560px;
}

.tabs li{
	display: inline-block;
	margin-top: 1em;
}

.tabs li a{
	color: #eee;
	background-color: #AAA;
	padding: .5em;
	border: 2px solid #AAA;
	border-radius: 8px 8px 0 0;
}

.tabs li a:hover{
	background-color: #666;
	color: #fff;
}

li.active a{
	background-color: #666;
	color: #fff;
	border-color:#FFF;
}

.tab_content{
	width: 490px;
	height: 400px;
	background-color: rgba(255,255,255,.9);
	display: inline-block;
	margin-top: .5em;
}

#process{
	background-image: url("img/play.png");
    background-position: left center;
    background-repeat: no-repeat;
    bottom: 1em;
    left: 2.5em;
    position: absolute;
    padding: 5px 5px 5px 30px;
    font-weight: bold;
    border-radius: 5px;
    text-align: right;
}